.levels, .levels img {
  width: 500px;
}

.input-row {
  top: 10em;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.bg-img {
  background-image: url('./bg.jpg');
  background-size: 100%;
  background-position: 50%;
  height: 100vh;
}
