.levels, .levels img {
  width: 500px;
  text-align: center;
}

.description {
  margin: 5em;
  font-size: 3em;
  text-transform: capitalize;
}

.input-row {
  top: 10em;
}

body {
  background-image: url('./bg.jpg');
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.bg-img {
  background-image: url('./bg.jpg');
  background-size: 100%;
  background-position: 50%;
  height: 100vh;
}
